{% block 'footer' %}
{% load static %}
<footer class="container-fluid bg-light text-black">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center text-white">
          <h5 class="text-black">onlyflans</h5>
          <a href="https://www.github.com" target="_blank"><i class="fab fa-github-square mx-1 fa-3x"></i></a>
          <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin mx-1 fa-3x"></i></a>
          <a href="https://www.twitter.com" target="_blank"> <i class="fab fa-twitter-square mx-1 fa-3x"></i></a>
          <a href="https://www.facebook.com" target="_blank"> <i class="fab fa-facebook-square mx-1 fa-3x"></i></a>
      </div>
    </div>
  </footer>
{% endblock %}